<div class='row-fluid'>
  <div class='span3'>
    <div>
      You are currently following:
      <div>
        <% if current_user.following.count == 0 %>
          No one
        <% end %>
        <% current_user.following.each do |following| %>
          <%= render following %>
        <% end %>
      </div>
    </div>
    <br>
    <div>
      Followers:
      <div>
        <% if current_user.followers.count == 0 %>
          No one
        <% end %>
        <% current_user.followers.each do |follower| %>
          <%= render follower %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='span9'>
    <%= render :partial => "shared/new_post_collapse" %>
    <br>
    <button class='btn refresh-btn'>Refresh</button>
    <div id='posts-list'>
    </div>
    <button class='btn more-btn'>Load more</button>
  </div>

</div>