<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" href="#newPostForm">
      <i class='icon-plus'></i> New Blog Post
    </a>
  </div>
  <div id="newPostForm" class="accordion-body collapse">
    <div class="accordion-inner">
      <%= render :partial => "posts/form" %>
    </div>
  </div>
</div>